flask
flask-login
langchain
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
faiss-cpu
sentence-transformers
docx2txt
python-dotenv
werkzeug

# extra document loader dependencies
unstructured
openpyxl
markdown

langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq

faiss-cpu
sentence-transformers

python-dotenv

unstructured
markdown
pypdf
docx2txt

pandas
openpyxl

beautifulsoup4
lxml
tabulate

streamlit